@media screen and (min-width: 1200px) {
	html {
		font-size: 18px;
	}

	#container-body {
		max-width: 900px;
	}
}

@media screen and (min-width: 1400px) {
	#container-body {
		max-width: 1000px;
	}
}

@media screen and (min-width: 1600px) {
	html {
		font-size: 20px;
	}

	#container-body {
		max-width: 1200px;
	}
}

@media screen and (min-width: 1850px) {
	html {
		font-size: 22px;
	}
}

@media screen and (min-width: 2200px) {
	html {
		font-size: 24px;
	}

	#container-body {
		max-width: 1400px;
	}
}

@media screen and (min-width: 2500px) {
	html {
		font-size: 26px;
	}
}

@media screen and (min-width: 2800px) {
	html {
		font-size: 28px;
	}
}
