@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --bg-color: #f6f6f6;
  --text-color: #2b2b2b;
}

/* Mobile First Design Implementation */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

img {
  width: 100%;
}

html {
  /*font-family: 'Bellota Text', serif;*/
  font-family: 'Inter', serif;
  font-size: 16px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  /*font-family: 'Cormorant Garamond', serif;*/
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.75rem;
}

a {
  color: var(--text-color);
  cursor: pointer;
}

.padding-main-content {
  padding: 0rem 0.75rem;
}

.margin-main-content {
  margin: 0rem 0.75rem;
}

.margin-top-gap {
  margin-top: 2rem;
}

/*
 * Main Header
*/
#header-main {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items:center;
  border-bottom: 1px solid rgba(43, 43, 43, 0.25);
  width: 100%;
  height: 4rem;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.1s;
  background-color: rgba(246, 246, 246, 0.85);
  backdrop-filter: blur(4px);
  z-index: 1000;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0);
}

#header-main:hover {
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.35);
}

.header-logo {
  width: 2.25rem;
  height: 2.6rem;
  background: center/100% no-repeat url('assets/icons/logo.png');
  transition: all 0.1s; /*transform?*/
}

.header-logo:hover {
  width: 2.5rem;
  height: 3rem;
}

.header-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.header-links img {
  width: 2rem;
}

.header-links .temp-links {
  width: 2rem;
  height: 2rem;
  background-color: #2b2b2b;
}

.header-links a {
  text-decoration: none;
  font-size: 2rem;
  transition: border-bottom 0.1s;
  border-bottom: 0px solid rgba(0, 0, 0, 0.5);
}

.header-links a:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.header-link {
  display: flex;
  align-items: center;
}

.header-menu {
  width: 2rem;
  height: 2.6rem;
  background: center/100% no-repeat url('assets/icons/icon_menu_open.png');
}

#header-main-nav {
  display: none;
}

/*
 * Hero Section
*/
#hero {
  /*box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);*/
  text-align: center;
  border-radius: 6px;
}

.hero-text {
  padding-top: 2rem;
}

.hero-text h2 {
  font-size: 2.2rem;
  padding-bottom: 2rem;
}

.hero-text p {
  padding-bottom: 2rem;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temp-frame {
  width: 8rem;
  height: 8rem;
  border-radius: 100vw;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.45);
  background: center/100% no-repeat url('assets/media/me.jpeg');
}

.about-me-frame {
  padding-bottom: 2rem;
}

.about-me-text {
  width: 65vw;
  padding-bottom: 2rem;
}

.about-me-text h1 {
  font-size: 1rem;
}

.cv-download-media {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 1.25rem 1.75rem;
  border-radius: 6px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.45);
  margin-bottom: 3rem;
}

.cv-download-media span {
  display: block;
  width: 2rem;
  height: 2rem;
  background: center/100% no-repeat url('assets/icons/icon_download.png');
}


/*
 * Projects Section
*/
#projects {
  border-bottom: 1px solid #000;
}

.featured-project {
  border-bottom: 1px solid #000;
}

.featured-project h3,
.projects h3 {
  margin-bottom: 0.45rem;
}

.project-media {
  position: relative;
  margin-bottom: 0.85rem;
}

.project-media-src {
  width: 100%;
  min-height: 25rem;
  height: 38vh;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 6px;
}

.media-ponginsee {
  background: center/100% no-repeat url('assets/media/gif_ponginsee.gif');
  background-size: 100% 100%;
}


.media-rememorari {
  background: center/100% no-repeat url('assets/media/print_rememorari.png');
  
}

.media-mirpro {
  background: center/100% no-repeat url('assets/media/gif_mirpro.gif');
  background-size: cover;
}

.media-gameoflife {
  background: center/100% no-repeat url('assets/media/gif_gameoflife.gif');
  background-size: 100% 100%;
}

.media-private-servers {
  background: center/100% no-repeat url('assets/media/print_private_servers.png');
  background-size: cover;
}

.project-labels {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 3rem;
  max-height: auto;
  display: flex;
  align-items: end;
  flex-wrap: wrap;
  gap: 1.15rem;
  padding: 0rem 0.85rem;
  overflow: hidden;
  padding-bottom: 0.25rem;
  opacity: 0.5;
  font-size: 0.75rem;
}

.project-labels:hover,
.project-labels:active,
.project-media:hover .project-labels,
.project-media:active .project-labels {
  opacity: 1.0;
}

.project-label {
  color: #ffd60a;
  background-color: #000814;
  padding: 0.21rem 0.7825rem;
  border-radius: 100vw;
  border: 1px solid #ffd60a;
}

.project-category {
  margin: 0.15rem 0rem;
}

.project-name {
  margin-bottom: 0.75rem;
}

.project-desc-text {
  text-align: justify;
  text-indent: 1rem;
  margin-bottom: 3rem;
}


/*
 * Skills section
*/

#skills {
  text-align: center;
  padding-bottom: 3rem;
  border-bottom: 1px solid #000;
}

.skill-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 3.75rem;
}

.skill-media {
  width: 8rem;
  height: 8rem;
  border-radius: 100vw;
}

.skill-media-settings {
  background: center/100% no-repeat url('assets/icons/icon_settings.png');
}

.skill-media-webpage {
  background: center/100% no-repeat url('assets/icons/icon_webpage2.png');
}

.skill-media-system {
  background: center/90% no-repeat url('assets/icons/icon_system.png');
}

.skill-media-monitor {
  background: center/100% no-repeat url('assets/icons/icon_monitor.png');
}

.skill-title {
  margin-top: 1.5rem;
}

.skill-desc {
  max-width: 30rem;
  width: 70vw;
  margin-top: 1rem;
}



/*
 * Client Comments (Depo)
*/

.depo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #000;
  padding-bottom: 2.5rem;
}

.depo-text {
  margin-top: 3rem;
  max-width: 30rem;
  width: 70vw;
}

.depo-media {
  margin-top: 3rem;
  width: 8rem;
  height: 8rem;
  border-radius: 100vw;
  background: center/100% no-repeat url('assets/icons/icon_client_ratz.png');
}

.depo-client-name {
  font-weight: 600;
  margin-top: 0.85rem;
}



/*
 * Contact Section
*/
#contact {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 3rem 2rem;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

#contact h2 {
  text-align: center;
}

#contact p {
  font-size: 1.45rem;
  margin-top: 3rem;
}

.btn-email {
  border: 1px solid #000;
  margin-top: 1rem;
  border-radius: 6px;
  margin-bottom: 1.25rem;
}

.btn-email a {
  display: inline-block;
  padding: 1.25rem 2rem;
}

.btn-email a, .link-wpp,
.link-linkedin, .link-github {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.link-wpp, .link-linkedin, .link-github {
  margin-bottom: 1.25rem;
}

.contact-media {
  width: 2rem;
  height: 2rem;
  border-radius: 100vw;
  margin-right: 0.5rem;
}

.contact-media-email {
  background: center/80% no-repeat url('assets/icons/icon_email.png');
}

.contact-media-wpp {
  background: center/80% no-repeat url('assets/icons/icon_wpp.png');
}

.contact-media-linkedin {
  background: center/100% no-repeat url('assets/icons/icon_linkedin.png');
}

.contact-media-github {
  background: center/100% no-repeat url('assets/icons/icon_github.png');
}




/*
 * Main Footer
*/
#footer-main {
  background-color: #2b2b2b;
  color: #fff;
}

#footer-main ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #fff;
}

#footer-main ul li {
  display:block;
  width: 100%;
  text-align: center;
  padding: 1.15rem 0rem;
}

#footer-main ul a {
  width: 100%;
  color: #fff;
}

#footer-main p {
  text-align: center;
  padding: 2.45rem 0rem;
}

@media screen and (min-width: 600px) {
  .padding-main-content {
    padding: 0rem 1.65rem;
  }

  .margin-main-content {
    margin: 0rem 1.65rem;
  }

  .margin-top-gap {
    margin-top: 2.8rem;
  }
}
