@media screen and (min-width: 768px) {
	#container-body {
		max-width: 800px;
		margin: 0px auto;
	}

	/*
	 * Main Header
	*/
	#header-main {
		display: grid;
		grid-template-columns: 1fr 1fr 10fr;
	}

	.header-links {
		margin-left: 3rem;
	}

	.header-menu,
	.header-menu-a {
		display: none;
	}

	#header-main-nav {
		display: block; /* Restaura de volta a navegação para a página. */
	}

	#header-main-nav ul {
		list-style-type: none;
		display: flex;
		justify-content: space-evenly;
	}

	#header-main-nav ul li {
		border-bottom: 1px solid rgba(0, 0, 0, 0);
		transition: all 0.1s;
	}

	#header-main-nav ul li a {
		display: inline-block;
		width: 100%;
		height: 100%;
		padding: 1rem 1.25rem;
	}

	#header-main-nav ul li:hover {
		border-bottom: 1px solid rgba(0, 0, 0, 1);
	}

	#header-main-nav ul li:hover a {
		text-decoration: none;
	}

	/*
	 * Hero Section
	*/
	#hero {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.hero-text {
		padding: 1.5rem;
		margin-bottom: 1rem;
		border-right: 1px solid #000;
	}

	.hero-text h2 {
	  font-size: 1.9rem;
	}

	.aboutme {
	  justify-content: center;
	  padding: 1.5rem;
	}

	.aboutme-text {
		width: 90%;
	  padding-bottom: 2rem;
	}

	/*
	 * Projects Section
	*/
	.projects {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 2rem;
	}

	#projects > h2,
	#projects > p {
		text-align: center;
	}

	/*
	 * Skills Section
	*/
	.skills-info-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 5rem;
	}

	.skill-desc {
		width: auto;
	}

	/*
	 * Footer Section
	*/
	#footer-main ul {
		flex-direction: row;
	}
}

